appnope==0.1.2
attrs==21.4.0
Automat==20.2.0
click==8.0.4
constantly==15.1.0
decorator==5.1.1
Flask==2.1.2
Flask-Twisted==0.1.2
hyperlink==21.0.0
incremental==21.3.0
ipython==8.2.0
ipython-genutils==0.2.0
itsdangerous==2.1.1
jedi==0.18.1
MarkupSafe==2.1.0
Jinja2==3.1.0
observable==1.0.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.28
ptyprocess==0.7.0
Pygments==2.11.2
simplegeneric==0.8.1
six==1.16.0
traitlets==5.1.1
Twisted==22.4.0
wcwidth==0.2.5
Werkzeug==2.0.3
zope.interface==5.4.0
