appnope==0.1.0
attrs==19.3.0
Automat==0.8.0
click==6.7
constantly==15.1.0
decorator==4.1.1
Flask==1.1.1
Flask-Twisted==0.1.2
hyperlink==19.0.0
incremental==17.5.0
ipython==7.9.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.9.6
MarkupSafe==1.0
observable==0.3.2
pexpect==4.7.0
pickleshare==0.7.4
prompt-toolkit==2.0.10
ptyprocess==0.5.2
Pygments==2.2.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.3
Twisted==19.7.0
wcwidth==0.1.7
Werkzeug==0.12.2
zope.interface==4.4.3
